<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to my world</h1>
    <form action="/createUser">
        <input type="text" name="username" placeholder="Enter your name">
        <input type="text" name="email" placeholder="Enter email">
        <input type="text" name="bio" placeholder="Enter about yourself">
        <input type="text" name="imageUrl" placeholder=" Enter Image Url">
        <button>submit</button>
    </form>
</body>
</html>