<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>users</h1>
    <% users.forEach((user)=>{ %>
        <div class="card">
            <h1> <%= user.username %></h1>
            <h1> <%= user.email %></h1>
            <h1> <%= user.bio %></h1>

        </div>
    <% })   %>
</body>
</html>